* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: black;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  z-index: -10;
  width: 100%;
  .logo {
    width: 100px;
    height: 100px;
  }
  .navlist-cont {
    display: flex;
    justify-content: space-between;
    .navlist {
      list-style: none;
      display: flex;
      margin: auto 15px;
      &__li {
        padding: 15px;
        color: white;
        text-transform: uppercase;
      }
    }
    .search-bar {
      padding: 10px;
      border: 1px solid grey;
      border-radius: 2px;
      height: 24px;
      margin: auto;
    }
    .search-logo {
      padding: 10px;
      margin: auto;
      color: white;
    }
    .cart-logo {
      margin: auto;
      padding: 10px;
      color: white;
    }
  }
}
.hero {
  height: 600px;
  .hero-img {
    width: 100%;
    height: 600px;
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  .product {
    padding: 15px;
    margin: 15px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    &:hover {
      box-shadow: 2px 2px 10px 10px grey;
    }
    img {
      width: 100%;
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .btn-addcart {
        grid-column-start: 2;
        grid-row-start: 1;
        padding: 5px;
        border: 1px solid red;
        background-color: red;
        width: 60%;
        color: white;
        cursor: pointer;
      }
      .precio {
        grid-column-start: 1;
        font-weight: 600;
        padding: 5px;
      }
      .titulo-producto {
        font-weight: 600;
        font-size: 18px;
        padding: 5px;
      }
    }
  }
}
